@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@500&family=Spectral:ital,wght@0,200;1,200&display=swap');
:root{
  --main-bg-color:#c0e3ff;
}

/* #ced0d4 #06120b ffff93 ffff74 c0e3ff a4c9e7 #e1e1e1*/
body{
  /* background-color: #e1e1e1; */
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);  
  font-family: 'Spectral';
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
 
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  /* padding: 16px; */
  display: flex;
  justify-content: flex-start;
  /* margin-top: -306px;  */

}

/* header{
  height: 60px;
  background-color: var(--main-bg-color);
  font-size: 20px;
} */
.sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}


nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  font-weight: bolder;
    color: black; 
}
h1 {
   font-size: 40px; 
  text-align: center
  
}

/* h2 {
  font-size: 30px;
} */
.container {
  padding-top: 93px
}
footer {
  text-align: center;
    margin-top: 100px;
    padding-top: 93px
  
}

/* header{
  height: 60px;
    align-items: center; */
  /* background-color: #000000; */
/* } */
.i2{
  display: flex;
  /* align-items: center; */  
    flex-direction: row;
    
}
 
.i2 img{
  width: auto;
  height: 38px;
  /* padding: 0 25px; */
}

div.social {
  display: flex;
}

.instagram{
  display: flex;
  /* justify-content: flex-start; */
  /* grid-area: 1 / 1 / 2 / 2; */
  flex-direction: row;
  /* align-content: center; */
}
.twitter{
  display: flex;

  flex-direction: row;
  /* align-content: center; */
}
.discord{
  display: flex;
    flex-direction: row;
    
}
.github{
  display: flex;
    
    flex-direction: row;
    
}
.instagram img{
  width: auto;
  height: 38px;
  /* padding: 0 25px; */
}
.twitter img{
  width: auto;
  height: 38px;
  /* padding: 0 25px; */
}
.discord img{
  width: auto;
  height: 38px;
  /* padding: 0 25px; */
}
.github img{
  width: auto;
  height: 38px;
  /* padding: 0 25px;  */
  /* grid-area: 1 / 5 / 2 / 6; */
 } 
/* align-items: center; */
/* div{
   display: grid; 
    gap: 20px;  
  justify-content: space-between; 
    align-items: center;
} */
div.i2{
  justify-content:space-around;
}

.chat-bot{
  position: fixed;
  right:10px;
  bottom:10px;
  /* background-color:white; */
  background: linear-gradient(to right, #bdc3c7, #bcd9f6);
  box-shadow: 2px 2px 2px #bdbdbd;
  /* border-radius: 50%; */
  border-radius: 40px;
 /* background-color: #e1e1e1; */
  padding:10px;
  font-weight: 600;
  font-size:18px;
}

.chat-bot a{
  text-decoration: none;
  color:black;
  position: relative;
  top:2px;
}